<section class="flex flex-col space-y-4">
  <h1 class="font-bold text-center">Surviving Mars - Landing Location</h1>
  <p class="text-justify">
    Welcome to this fan made site about Surviving Mars, where you can search and
    filter for any landing location in-game.
  </p>
  <p class="text-justify">
    Be sure to check out the vanilla version (current) in the navigation menu.
    When the new <b>Relaunched</b> version is live, the revamped
    section will be available as well.
  </p>
</section>
