<mat-toolbar>
  <div class="container mx-auto">
    <div class="p-4 mx-4 flex items-center justify-between">
      <span>Surviving Mars Stats</span>
      <span class="flex flex-1"></span>
      <button matButton class="" aria-label="About">
        <mat-icon>home</mat-icon>
        <span class="">About</span>
      </button>
      <button matButton class="" aria-label="FAQ">
        <mat-icon>info</mat-icon>
        <span class="">FAQ</span>
      </button>
      <button matButton class="" aria-label="theme" (click)="toggleTheme()">
        <mat-icon>{{ selectedTheme() === 'light' ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </button>
    </div>
  </div>

</mat-toolbar>