<section class="flex flex-col gap-2">
  <div class="">
    <h3>About this website</h3>
    <p>
      This site is dedicated for those Surviving Mars players that want to be
      able to locate a landing area of their preference. You can perform any
      filtering and sorting using the table tools and also display the landing
      location details such as topography, difficulty, breakthrough
      technologies, etc.
    </p>
  </div>

  <hr class="w-full" />

  <div class="">
    <h3>Source data</h3>
    <p>
      Specially thanks to ChoGGi for providing all the CSV files for each
      version of the game (including DLCs). You can find those in this
      <a [href]="sourceDataRepo" target="_blank">GitHub repository</a>.
    </p>
  </div>

  <hr class="w-full" />

  <div class="">
    <h3>How do I report a bug?</h3>
    <p>
      You can report those on the <a [href]="githubRepo" target="_blank">GitHub
      repository</a>.
    </p>
  </div>
</section>
